.main-div{
width: 479px;
height: 85px;
border-radius: 5px;
display: flex;
position: relative;
align-items: center;

.main-div__bold-cat{
    position: absolute;
    right: -18px;
}
.main-div__img{
    margin-left: 20px;

}
.maid-div__mood-and-date{
    margin-left: 20px;

}

}